<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (username) { %>
        <h1>안녕하세요 <%=username %>!</h1>
        <div class="form-container">
            <form action="/post/create" method="POST">
                <label for="title">제목:</label>
                <input type="text" name="title" id="title" required>

                <label for="desc">본문:</label>
                <textarea name="desc" id="desc" required></textarea>

                <button type="submit">게시</button>
            </form>
        </div>
        <a href="/auth/logout">로그아웃</a>
        <a href="/post/posts">게시글 목록</a>
        <% } else { %>
            <h1>로그인이 필요합니다.</h1>
            <a href="/register">회원가입</a>
            <a href="/login">로그인</a>
            <% } %>

</body>

</html>